
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TODO ESTO ES EL HEADER*/
header {
  background-color:rgba(233, 215, 200, 0.8);
  Height: 70px;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
}

li {
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px; 
}

.nav-menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 2em;
     margin-right: 2em;
}
 
/* Sombreado de seleccion en menu */

.nav-menu-link:hover {

  background-color: rgba(0, 0, 0, 0.219);
  transition: 0.5s;

}

.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
}

/* ---------------- */ 

#foto-logo {
  width: 35px;

}

.titulo1 {
  font-size: 30px;
  margin-left: 2em;
}

.nav-link {
  transition: 0,7s ease;
}

.nav-link:hover {
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out;
  background-color: white;

}


/* ------ Carrusel ------ */


.slider-frame {
	width: 750px;
    height: auto;
	margin: 100px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 1000%;
	
	animation: slide 60s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	5% {margin-left: 0;}
	
	10% {margin-left: -100%;}
	15% {margin-left: -100%;}
	
	20% {margin-left: -200%;}
	25% {margin-left: -200%;}
	
	30% {margin-left: -300%;}
	35% {margin-left: -300%;}

    40% {margin-left: -400%;}
	45% {margin-left: -400%;}

    50% {margin-left: -500%;}
	55% {margin-left: -500%;}

    60% {margin-left: -600%;}
	65% {margin-left: -600%;}

    70% {margin-left: -700%;}
	75% {margin-left: -700%;}

    80% {margin-left: -800%;}
	85% {margin-left: -800%;}

    90% {margin-left: -900%;}
	95% {margin-left: -900%;}

}

/* ----------------------------- */ 


@media (max-width:1000px) {
  .hamburger {
    display:block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    background-color: #e9d7c8;
    width: 100%;
    text-align: center;
    transition: 0,5s;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .titulo1 {
    margin-left: auto;
    margin-right: auto;
  }

  /* Sombreado de seleccion en Menu */
  .nav-menu-link:hover,   
  .nav-menu-link:active{
    
    background-color: rgba(85, 80, 72, 0.363);
    left: 0;
    color:rgb(253, 234, 206);
    transition: 0.5s;
    
  }

  /** Carrusel **/

  .slider-frame{
    margin: auto auto 0;
    width: 700px;
    height: auto;
}

}

/* TODO ESTO ES EL HEADER*/

body
{
    background-image: url("imagenes/backgroundGalaxia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
    width: 100%;
    z-index: -3;
}


.carousel {
  background-color: #e9d7c8 ;
  height: 500px;
  box-shadow: 10px 0px 40px rgb(0, 0, 0);
  margin-top: 80px;
}

.container {
  background-color: #e9d7c8 ;
  height: 500px;
  box-shadow: 10px 0px 40px rgb(0, 0, 0);
  margin-top: 10px;
}

/*ACA EMPIEZA BEBIDAS*/

/*ACA EMPIEZA BEBIDAS*/

.rectangulo
{
    display: grid;   
    width: 700px;
    height: 60px;       
    align-content: center;
    justify-content: center;
    position: relative;
    margin-left: 480px;
    text-decoration:underline;
    justify-items: center;   
    margin-top: 80px; 
}

p.titulo
{      
    font-size: 30px;
    color: #000000;
    padding-top: .5em;
    padding-bottom: 45px;
    margin: 0em;
}

.Tarjetero
{
    display: grid;
    /*background-image: url(./imagenes/backgroundbebidas.jpg);*/
    width: 1600px;
    height: 900px;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content:space-around;
    padding-top: 10px;
    font-size: 20px;
    margin-left: 15px;
}

.tarjeta
{     
    width: 350px;
    height: 250px;
    background-color: #e9d7c8;
    border-radius: 1.5rem; 
    text-align: center;
    font-style: oblique;  
    text-decoration:underline;
    border: darkblue;
  
}