@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body  {
  background-image: url(.//imagenes/fondocafe1.jpg);
  font-family: 'Roboto', sans-serif;
}


/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
header {
  background-color:rgba(166, 150, 141, 0.824);
  Height: 70px;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  font-family: 'Noto Sans', sans-serif; 
  z-index: 1000;
  }

/* .mainHome {
  background-image: url(imagenes/background.jpg);
  background-attachment: fixed;
} */
li {
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  z-index: 1000;
}

.nav-menu {
  
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 2em;
     margin-right: 2em;
     z-index: 1000;
}

/*contacto*/
.contacto5 {
  text-decoration: none;
  background-color: #52484497;
  padding: 8px 12px;
  border-radius: 10px;
}
 
.contacto5:hover {
  background-color: rgba(166, 150, 141, 0.824);
  padding: 8px 12px;
  border-radius: 10px;
}
/* Sombreado de seleccion en menu */

.nav-menu-link:hover {
  background-color: #52484497;
  transition: 0.5s;
  border-radius: 20px;
  z-index: 1000;
}

.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
  z-index: 1000;
}

/* ---------------- */ 

#foto-logo {
  width: 35px;

}

.tituloNav {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  margin-left: 2em;
}

.nav-link {
  transition: 0,7s ease;
}

.nav-link:hover {
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out;
  background-color: white;

}

/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/

/*------------------------------------------*/



/* EMPIEZA ------ Carrusel ------ SOLO PARA HOME */


.slider-frame {
	width: 100%;
  height: 770px;
	margin: 0 auto 0;
	overflow: hidden;
  border: 3px double black;
  background-color: rgb(3, 3, 3);
  background-position: center;
}

.slider-frame .carrusel {
	display: flex;
	padding: 0;
	width: 1000%;
	
	animation: slide 60s infinite alternate ease-in-out;
}

.slider-frame .imagenCarrusel {
	width: 100%;
	list-style: none;
}

.slider-frame .imgCarr {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	5% {margin-left: 0;}
	
	10% {margin-left: -100%;}
	15% {margin-left: -100%;}
	
	20% {margin-left: -200%;}
	25% {margin-left: -200%;}
	
	30% {margin-left: -300%;}
	35% {margin-left: -300%;}

  40% {margin-left: -400%;}
	45% {margin-left: -400%;}

  50% {margin-left: -500%;}
	55% {margin-left: -500%;}

  60% {margin-left: -600%;}
	65% {margin-left: -600%;}

  70% {margin-left: -700%;}
	75% {margin-left: -700%;}

  80% {margin-left: -800%;}
	85% {margin-left: -800%;}

  90% {margin-left: -900%;}
	95% {margin-left: -900%;}

}
/* TERMINA ------ Carrusel ------ SOLO PARA HOME */
/* TERMINA ------ Carrusel ------ SOLO PARA HOME */
/* TERMINA ------ Carrusel ------ SOLO PARA HOME */
/* TERMINA ------ Carrusel ------ SOLO PARA HOME */



/*EMPIEZA ------ SOBRE NOSOTROS ----- SOLO PARA EL HOME */
/*EMPIEZA ------ SOBRE NOSOTROS ----- SOLO PARA EL HOME */
/*EMPIEZA ------ SOBRE NOSOTROS ----- SOLO PARA EL HOME */
/*EMPIEZA ------ SOBRE NOSOTROS ----- SOLO PARA EL HOME */

.seccion {
  background-color: #b4a294;
  padding: 30px;
  font-size: 24px;
  text-align: center;
  box-shadow: #000000;
}
.descripcion {
  padding-bottom: 20px;
  margin-top: 20px;
}
.mas-info {
  font-size: 28px;
  margin-top: 20px;
  background-color: #eae7e5;
  padding: 15px;
  border-radius: 10px;

}
/*EMPIEZA ------ BEBIDAS ----- SOLO PARA EL HOME */
/*EMPIEZA ------ BEBIDAS ----- SOLO PARA EL HOME */
/*EMPIEZA ------ BEBIDAS ----- SOLO PARA EL HOME */
/*EMPIEZA ------ BEBIDAS ----- SOLO PARA EL HOME */

#resumen-bebidas-home {
  margin-top: 150px;
}


#seccion-menu {
  padding-bottom: 30px;
  display: grid;
  gap: 7%;
  grid-template-columns: auto auto auto auto;
}
.bebida {
  background-color: white;
  display: block;
  min-width: 70%;
  margin-top: 30px;
  padding: 20px;
  border-radius: 40px;
}
.bebida:hover {
  transform: translate(0px, -10px);
  transition-timing-function: ease-in-out;
}
.bebida img{
  height: 150px;
}
.bebida-leyenda{
  padding-bottom: 30px;
}

.nombre-bebida {
  font-size: 25px;
  padding-bottom: 5px;
}

/*------------------ACA EMPIEZA EL FOMR--------------*//*------------------ACA EMPIEZA EL FOMR--------------*//*------------------ACA EMPIEZA EL FOMR--------------*/
/*------------------ACA EMPIEZA EL FOMR--------------*//*------------------ACA EMPIEZA EL FOMR--------------*//*------------------ACA EMPIEZA EL FOMR--------------*/
/*------------------ACA EMPIEZA EL FOMR--------------*//*------------------ACA EMPIEZA EL FOMR--------------*//*------------------ACA EMPIEZA EL FOMR--------------*/


.tituloBebidas{
  text-decoration: underline;
  text-decoration-color:#000000;  
  font-family: 'Josefin Sans', sans-serif;      
  font-size: 48px;
  color: #833e1c;
  margin-top: 1em;
  margin-bottom: .2em;
  padding-top: .75em;  
  margin-left: 635px;
}

h6{  
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
color: #833e1c;
text-decoration: underline;
}


.Tarjetero{
  display: grid;    
  width: 1600px;
  height: 900px;
  justify-items: center;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content:space-around;
  padding-top: 10px;
  font-size: 20px;
  margin-left: 15px;
  gap: 20px;
  word-wrap: normal;
}
.tarjeta{
  border: dotted 2px rgb(0, 0, 0);     
  font-size: 16px;    
  width: 320px;
  height: 400px;
  background-color: #e9d7c8;
  border-radius: 1.5rem; 
  text-align: center;    
  font-style: oblique;    
  
  padding: 12px 10px 0px 10px;
}
.parrafo{
color: #000000;
margin-top: 6px;
font-family: 'Josefin Sans', sans-serif;  
}
.minifoto{
padding-top: 8px;
margin-left: 12px;
width: 180px;  
}
.separador{
margin-top: 350px;
width: 1662px;
} 

/*****************************************ACA EMPIEZA COMIDAS*********************************/
/*****************************************ACA EMPIEZA COMIDAS*********************************/
.rectangulo2 {
display: grid;
grid-template-columns: 8.33% (repeat(12)) ;  
width: 700px;
height: 60px;       
align-content: center;
justify-content: center;
position: relative;
margin-left: 480px;    
justify-items: center;  
}
.tit1{  
text-decoration: underline;
text-decoration-color:#000000;  
font-family: 'Josefin Sans', sans-serif;      
font-size: 48px;
color: #ffffff;
padding-bottom: 45px;
}
h6{  
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
color: #833e1c;
text-decoration: underline;
}
.Tarjetero2{
display: grid;    
width: 1600px;
height: 900px;
justify-items: center;
grid-template-columns: auto auto auto auto;
align-items: center;
justify-content:space-around;
padding-top: 10px;
font-size: 20px;
margin-left: 15px;
gap: 20px;
word-wrap: normal;
}
.separador2{
margin-top: 700px;
width: 1662px;
margin-top: 350px;
}



/*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*/
/*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*/
/*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*/

@media (max-width:1040px) {
  .hamburger {
    display:block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    background-color: #e9d7c8;
    width: 100%;
    text-align: center;
    transition: 0,5s;
    z-index: 1000;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;    
    z-index: 1000;
  }
  .tituloNav {
    margin-left: auto;
    margin-right: auto;
  }
 
  /* Sombreado de seleccion en Menu */
  .nav-menu-link:hover,   
  .nav-menu-link:active{
    
    background-color: rgba(85, 80, 72, 0.363);
    left: 0;
    color:rgb(253, 234, 206);
    transition: 0.5s;    
  }

  /** Carrusel **/

  .slider-frame {
    margin: 120 auto 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#seccion-menu {
  grid-template-columns: auto auto;
}
.Tarjetero{
  display: grid; 
  grid-template-columns: auto auto auto;
  margin-left: 120px;
  gap: 10px; 
  justify-content:left;
}
.Tarjetero2{
  display: grid; 
  grid-template-columns: auto auto auto;
  margin-left: 120px;
  gap: 10px; 
  justify-content:left;
}
.tarjeta{
  font-size: 16px;
  width: 250px;      
}
.minifoto{ 
  width: 50px;  
}
.parrafo{
color: #000000;
font-size: 18px;
}
.tit1{
z-index: -1;
transform: translateX(-400px);
font-size: 36px;
}
.titulo{
transform: translateX(-340px);
font-size: 36px;
z-index: -1;
}
.separador{
margin-top: 750px;
}
.separador2{
margin-top: 750px;
}
.minifoto{
width: 38%;
}
}
@media (max-width:600px){
.Tarjetero{
z-index: -1;
display: grid; 
grid-template-columns: auto auto;
margin-left: 50px;
gap: 10px; 
justify-content:left;
}
.Tarjetero2{
z-index: -1;
display: grid; 
grid-template-columns: auto auto;
margin-left: 50px;
gap: 15px;
}
.tarjeta{
font-size: 16px;    
width: 250px;
}
.parrafo{
color: #000000;
font-size: 18px;
}
.tit1{
z-index: -1;
transform: translateX(-500px);
font-size: 36px;
}
.titulo{
z-index: -1;
transform: translateX(-500px);
font-size: 36px;
}
.separador{
margin-top: 1550px;
}
.separador2{
margin-top: 1550px;
}
.minifoto{
width: 34%;
}
}

