@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body  {
  background: #1e130c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* TODO ESTO ES EL HEADER*/
header {
  background-color:rgba(233, 215, 200, 0.8);
  Height: 70px;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
}

li {
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px; 
}

.nav-menu {
  
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 2em;
     margin-right: 2em;
}
 
/* Sombreado de seleccion en menu */

.nav-menu-link:hover {

  background-color: rgba(0, 0, 0, 0.219);
  transition: 0.5s;
  
}

.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
}

/* ---------------- */ 

#foto-logo {
  width: 35px;

}

.titulo1 {
  font-size: 30px;
  margin-left: 2em;
}

.nav-link {
  transition: 0,7s ease;
}

.nav-link:hover {
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out;
  background-color: white;

}


/* ------ Carrusel ------ */


.slider-frame {
	width: 750px;
  height: auto;
	margin: 100px auto 0;
	overflow: hidden;
  border: 3px double black;
  background-color: rgb(3, 3, 3);
  background-position: center;
}

.slider-frame .carrusel {
	display: flex;
	padding: 0;
	width: 1000%;
	
	animation: slide 60s infinite alternate ease-in-out;
}

.slider-frame .imagenCarrusel {
	width: 100%;
	list-style: none;
}

.slider-frame .imgCarr {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	5% {margin-left: 0;}
	
	10% {margin-left: -100%;}
	15% {margin-left: -100%;}
	
	20% {margin-left: -200%;}
	25% {margin-left: -200%;}
	
	30% {margin-left: -300%;}
	35% {margin-left: -300%;}

  40% {margin-left: -400%;}
	45% {margin-left: -400%;}

  50% {margin-left: -500%;}
	55% {margin-left: -500%;}

  60% {margin-left: -600%;}
	65% {margin-left: -600%;}

  70% {margin-left: -700%;}
	75% {margin-left: -700%;}

  80% {margin-left: -800%;}
	85% {margin-left: -800%;}

  90% {margin-left: -900%;}
	95% {margin-left: -900%;}

}

/* TERMINA ------ Carrusel ------ SOLO PARA HOME */
/* TERMINA ------ Carrusel ------ SOLO PARA HOME */
/* TERMINA ------ Carrusel ------ SOLO PARA HOME */
/* TERMINA ------ Carrusel ------ SOLO PARA HOME */


/* ----------------------------- */ 



@media (max-width:1000px) {
  .hamburger {
    display:block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    background-color: #e9d7c8;
    width: 100%;
    text-align: center;
    transition: 0,5s;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
    
  }

  .titulo1 {
    margin-left: auto;
    margin-right: auto;
  }

  /* Sombreado de seleccion en Menu */
  .nav-menu-link:hover,   
  .nav-menu-link:active{
    
    background-color: rgba(85, 80, 72, 0.363);
    left: 0;
    color:rgb(253, 234, 206);
    transition: 0.5s;
    
  }

  /** Carrusel **/

  .slider-frame {
    margin: 120 auto 0;
    width: 700px;
    height: auto;
    overflow: hidden;
}

.descripcion {
  padding-bottom: 20px;
  margin-top: 20px;
}
.mas-info {
  font-size: 28px;
  margin-top: 20px;
  background-color: #eae7e5;
  padding: 15px;
  border-radius: 10px;
}

/* TODO ESTO ES EL HEADER*/


.carousel {
  background-color: #e9d7c8 ;
  height: 500px;
  box-shadow: 10px 0px 40px rgb(0, 0, 0);
  margin-top: 80px;
}

.container {
  background-color: #e9d7c8 ;
  height: 500px;
  box-shadow: 10px 0px 40px rgb(0, 0, 0);
  margin-top: 10px;
}

#seccion-menu {
  padding-bottom: 30px;
  display: grid;
  gap: 7%;
  grid-template-columns: auto auto auto auto;
}
.bebida {
  background-color: white;
  display: block;
  min-width: 70%;
  margin-top: 30px;
  padding: 20px;
  border-radius: 40px;
}
.bebida:hover {
  transform: translate(0px, -10px);
  transition-timing-function: ease-in-out;
}
.bebida img{
  height: 150px;
}
.bebida-leyenda{
  padding-bottom: 30px;
}

/*------------------ACA EMPIEZA EL FOMR--------------*/

#contacto1{
  margin-top: 150px;
}


/*****************************************ACA EMPIEZA BEBIDAS*********************************/
/*****************************************ACA EMPIEZA BEBIDAS*********************************/
/*****************************************ACA EMPIEZA BEBIDAS*********************************/
/*****************************************ACA EMPIEZA BEBIDAS*********************************/
/*****************************************ACA EMPIEZA BEBIDAS*********************************/

.rectangulo {
    display: grid;
    grid-template-columns: 8.33% (repeat(12)) ;
    grid-template-rows: 8.33% (repeat(12));   
    width: 700px;
    height: 60px;       
    align-content: center;
    justify-content: center;    
    margin-left: 480px;    
    justify-items: center;   
    margin-top: 80px;
}

h1{
    
    text-decoration: underline;
    text-decoration-color:#000000;  
    font-family: 'Josefin Sans', sans-serif;      
    font-size: 48px;
    color: #833e1c;
    padding-top: .75em;
    padding-bottom: 45px;
    margin: 0em;
}

h6{  
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: #833e1c;
  text-decoration: underline;
  }


.Tarjetero{
    display: grid;    
    width: 1600px;
    height: 900px;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content:space-around;
    padding-top: 10px;
    font-size: 20px;
    margin-left: 15px;
    gap: 20px;
    word-wrap: normal;
}

.tarjeta{     
    font-size: 16px;    
    width: 320px;
    height: 400px;
    background-color: #e9d7c8;
    border-radius: 1.5rem; 
    text-align: center;    
    font-style: oblique;    
    border: darkblue;
    padding: 12px 10px 0px 10px;
     
}
.parrafo{
  color: #000000;
  margin-top: 6px;
  font-family: 'Josefin Sans', sans-serif;  
}
.minifoto{
  padding-top: 8px;
  margin-left: 12px;
  width: 180px;  
}
.separador{
  padding: 0px;
  margin-top: 350px;
  width: 1662px;
  
}

/*****************************************ACA EMPIEZA COMIDAS*********************************/
/*****************************************ACA EMPIEZA COMIDAS*********************************/
.rectangulo2 {
  display: grid;
  grid-template-columns: 8.33% (repeat(12)) ;
  grid-template-rows: 8.33% (repeat(12));   
  width: 700px;
  height: 60px;       
  align-content: center;
  justify-content: center;
  position: relative;
  margin-left: 480px;    
  justify-items: center;   
  /* margin-top: 20px;   */
}

.tit1{  
  text-decoration: underline;
  text-decoration-color:#000000;  
  font-family: 'Josefin Sans', sans-serif;      
  font-size: 48px;
  color: #ffffff;
  padding-bottom: 45px;
  margin-top: 0px;
}

h6{  
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
color: #833e1c;
text-decoration: underline;
}

.Tarjetero2{
  margin-top: ;
  display: grid;    
  width: 1600px;
  height: 900px;
  justify-items: center;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content:space-around;
  padding-top: 10px;
  font-size: 20px;
  margin-left: 15px;
  gap: 20px;
  word-wrap: normal;
}
.separador2{
  width: 1662px;
  margin-top: 350px;
  margin-bottom: 0;
}

/*------------------ACA EMPIEZA EL FOMR--------------*/
.formulario{
  padding:  2em;
  border-top: 10px;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  min-height: 50vh;
  background-size: 5px;
  background-position: 0 0, 10px 10px;
  text-align: center;  
}
.contenedor_form{
  background-image: radial-gradient(circle at 50% 50%, #d5af58 0, #d3a04c 16.67%, #cb8b39 33.33%, #bc6e20 50%, #ad5106 66.67%, #a33700 83.33%, #9e2003 100%);
  margin: auto;
  width: 90%;
  max-width: 600px;
  padding: 1em 2em;
  border-radius: 15px;
  box-shadow: 15px 15px 25px -2px rgb(0 0 0 / 90%); 
}
h2{ 
  text-decoration: underline;  
  font-style: oblique;
  font-size: 2rem;
  margin-bottom: 30px;
}
.form_1{
  position: relative;
  border: none;
  display: grid;
  margin-top: 20px;
  gap: 40px;  
}
.form_input{ 
  font-family: 'Noto Sans', sans-serif;
  width: 100%; 
  font-size: 1rem;
  border: none;
  border-bottom: 1.5px solid #9a8478;
  outline: none;
  padding-bottom: 0;   
}
.form_input:focus + .form_label{
  transform: translateY(-30px);
}
.form_label{  
  margin-top: 4px;
  color: #000000;  
  cursor: pointer;
  position: absolute;
  left: 1px;
  transform: translateY(-5px); 
  transition: transform .6seg;
}
.form_submit{
  margin-top: 0;
  padding: 10px; 
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  background-color: #9a8478; 
}
h3
{
  font-size: 16px;
  padding: 0%;
  margin-top: 0;
  margin-bottom: 0%;
  border: none;
}
textarea
{
  font-size: 22px;
  margin-top: 10px; 
  margin-bottom: 0px;
  width: 100%;
  height: 200px;   
  outline: none;
}




/*media querys*/
/*media querys*/
/*media querys*/
@media (max-width:1040px) {
  .hamburger {
    display:block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    background-color: #e9d7c8;
    width: 100%;
    text-align: center;
    transition: 0,5s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;    
  }
  .titulo1 {
    margin-left: auto;
    margin-right: auto;
  }
 
  /* Sombreado de seleccion en Menu */
  .nav-menu-link:hover,   
  .nav-menu-link:active{
    
    background-color: rgba(85, 80, 72, 0.363);
    left: 0;
    color:rgb(253, 234, 206);
    transition: 0.5s;    
  }

  /** Carrusel **/

  .slider-frame {
    margin: 120 auto 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#seccion-menu {
  grid-template-columns: auto auto;
}

}

/* @media (max-width:600px){
.Tarjetero{
    grid-template-columns: auto auto;
  }
} */

.rectangulo {
  display: grid;
  grid-template-columns: 8.33% (repeat(12));   
  width: 700px;
  height: 60px;       
  align-content: center;
  justify-content: center;    
  margin-left: 480px;    
  justify-items: center;   
  margin-top: 80px;
}

h1{
  
  text-decoration: underline;
  text-decoration-color:#000000;  
  font-family: 'Josefin Sans', sans-serif;      
  font-size: 48px;
  color: #833e1c;
  padding-top: .75em;
  padding-bottom: 45px;
  margin: 0em;
}

h6{  
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
color: #833e1c;
text-decoration: underline;
}


.Tarjetero{
  display: grid;    
  width: 1600px;
  height: 900px;
  justify-items: center;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content:space-around;
  padding-top: 10px;
  font-size: 20px;
  margin-left: 15px;
  gap: 20px;
  word-wrap: normal;
}
.tarjeta{
  border: dotted 2px rgb(0, 0, 0);     
  font-size: 16px;    
  width: 320px;
  height: 400px;
  background-color: #e9d7c8;
  border-radius: 1.5rem; 
  text-align: center;    
  font-style: oblique;    
  
  padding: 12px 10px 0px 10px;
}
.parrafo{
color: #000000;
margin-top: 6px;
font-family: 'Josefin Sans', sans-serif;  
}
.minifoto{
padding-top: 8px;
margin-left: 12px;
width: 180px;  
}
.separador{
margin-top: 350px;
width: 1662px;
} 

/*****************************************ACA EMPIEZA COMIDAS*********************************/
/*****************************************ACA EMPIEZA COMIDAS*********************************/
.rectangulo2 {
display: grid;
grid-template-columns: 8.33% (repeat(12)) ;  
width: 700px;
height: 60px;       
align-content: center;
justify-content: center;
position: relative;
margin-left: 480px;    
justify-items: center;  
}
.tit1{  
text-decoration: underline;
text-decoration-color:#000000;  
font-family: 'Josefin Sans', sans-serif;      
font-size: 48px;
color: #ffffff;
padding-bottom: 45px;
}
h6{  
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
color: #833e1c;
text-decoration: underline;
}
.Tarjetero2{
display: grid;    
width: 1600px;
height: 900px;
justify-items: center;
grid-template-columns: auto auto auto auto;
align-items: center;
justify-content:space-around;
padding-top: 10px;
font-size: 20px;
margin-left: 15px;
gap: 20px;
word-wrap: normal;
}
.separador2{
margin-top: 700px;
width: 1662px;
margin-top: 350px;
}
