
body

{
    background-image: url(./imagenes/background.jpeg);
}

.nav-list1 {
    display: flex;
    margin: 0;
    padding: 1rem 2rem;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e9d7c8;
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
  }
 
  #logo {
    width: 40px;
    padding-right: 10px;
  }

  .nav-list1 li {
  list-style: none;
  margin-right: 2rem;
  padding-right: 1em;
  font-size: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .nav-list1 li:first-child  {
    margin-right: auto;
    margin-left: 2rem;
    font-size: 2rem;
    font-family: 'Monsieur La Doulaise', cursive;
  }

  .nav-normal a:hover {
    color: #8c6a4d;
  }
  
  .button1 {
    font-size: 1rem;
    background-color: #8c6a4d;
    color: white;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .button1:hover{
    background-color: #c9a78a;
  }


  .Carrusel
  {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      padding-left: 10px;    
      left: 50%;
      right: 50%;
  }

/* 
LO COMENTO YA QUE ESTO LO SAQUÉ POR
#botonwpp
{
    position: fixed;
    bottom: 0px;
    left: 0px;
}
#menufixed
{
    position: fixed;
    top: 0px;
    right: 0px;
} */

.botonera2
{
    display: flex;
    font-size: 35px;
    justify-content: space-around;
    background-color: #58aa6d;
    
}

.nosotros
{    
    padding: 0px;
    margin: 0px;
    background-color: #aa8058;
    border: 8px solid cornflowerblue;
}

.contacto2
{      
    padding: 0px;
    margin: 0px;
    background-color: #aa8058;
    border: 8px solid cornflowerblue;
}

#parrafo1
{
    border: 5px outset rgb(255, 0, 0);
    background-color: rgb(146, 203, 223);    
    text-align: center;
}
footer
{
    display: inline;
}

/* ACA EMPIEZA BEBIDAS */

{
  
}